<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SamePinch</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>co.samepinch.prod</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>samepinchapp</string>
				<string>fb1636478616583615</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>460f5411e92ae785766d9b982518758b087211dd</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>60XdWzliiPSYvn5lqzyBIWnQK</string>
					<key>consumerSecret</key>
					<string>v0KC81TWk8wKP1IOyrtqFN8BZupHqpWJTM2jNHzfhDak12vTcO</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1636478616583615</string>
	<key>FacebookDisplayName</key>
	<string>SamePinch</string>
	<key>LSApplicationCategoryType</key>
	<string>status</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
		<string>whatsapp</string>
		<string>samepinch</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SanFranciscoText-Semibold.otf</string>
		<string>SanFranciscoText-Bold.otf</string>
		<string>SanFranciscoDisplay-Regular.otf</string>
		<string>SanFranciscoDisplay-Medium.otf</string>
		<string>SanFranciscoDisplay-Light.otf</string>
		<string>SanFranciscoText-LightItalic.otf</string>
		<string>Ubuntu-LI.ttf</string>
		<string>SanFranciscoText-Medium.otf</string>
		<string>SanFranciscoText-Regular.otf</string>
		<string>SanFranciscoText-Light.otf</string>
		<string>Ubuntu-L.ttf</string>
		<string>Ubuntu-R.ttf</string>
		<string>Ubuntu-M.ttf</string>
		<string>Typo Grotesk Demo.otf</string>
		<string>Typo Grotesk Thin Demo.otf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_app_domain</key>
	<string>8clm.app.link</string>
	<key>branch_key</key>
	<string>key_live_chj3MIqTWOFkCplY9BLEObmowrjIfWJ8</string>
</dict>
</plist>
